body{
    background: url('../img/ava7patterns_wallpaper_240x320_1863.png');
    padding: 0px;
    margin: 0px;
}
#contenedor{
    width: 1100px;
    margin:auto;
    padding: 0px 10px 10px 10px;
    p{
    color: #fff;
    font-size: 17px;
}
}
header{
    margin: 0;
    overflow: hidden;
}

.logosredes li{
    float: top;
    display: inline;
}

.cabder{
    float: left;
}
.cabizq{
    float: right;
}
.telefono{
    color: #d1d1e0;
    float: bottom;
    font-weight: bold;
    font-size: 20px;
}
.logosredes img{
    width: 30px;
    height: 30px;
}

.logo img{
    width: 200px;
    height: 100px;
}
nav{
    overflow: hidden;
    ul{
    list-style: none;
    margin: 0;
        li{
        float: left;
        width:20%;
            a{
            display: inline-block;
            width: 100%;
            height: 20px;
            text-decoration: none;  
            text-align: center;
            color:  #d1d1e0;
            font-weight: bold;
            padding: 8px 0 8px 0;
            margin-left: -17px;
                &:hover{
                background-color: #e6e6e6;
                color: #8585ad;
                }
            }
        }
    }
}
section{
    width: 680px;
    padding: 10px;
    float: left;
    text-decoration-color: #fff;
    .headersection{
        float: top;
        text-align: center;
    }
    .listados{
    width: 980px;
    padding: 10px;
    float: left;
    text-decoration-color: #fff;  
    }
}
aside{
    margin-right: 30px;
    padding: 20px;
    width: 300px;
    float: right;
    border-left: 2px solid #66ccff;
}
.foto img{
    width: 350px;
    height: 400px;
}
.noticia1 img{
    margin: 10px;
    float: left;
    width: 170px;
    height: 150px;

}
.noticia2 img{ 
        margin: 10px;
        width: 200px;
        height: 125px;
        float: left;
}

.noticia3 img{
    margin: 10px;
    width: 250px;
    height: 170px;
    float: left;
}
footer{
    margin: 20px 10px 0 20px;
    width: 600px;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    float: bottom;

}
.footer{
    color: #fff;
    margin: 0;
     img{
        width: 250px;
        height: 250px;
        float: right;
    }
    .footertext{
        float: left;
    }
}
form{

    padding: 10px;
}
/* Estilos para el formulario */
.formulario{
    width: 900px;
    border: 1px solid #907;
    border-radius: 20px;
    color: #fff;
    text-decoration-color: #fff;
    h3{
    margin-left: 40%;
    }
        h1{
    margin-left: 35%;
    }
}
table{
    border: 1px solid #907;
    margin-left: 20px;
    td{
        text-align: center;
        height: 40px;
    }
}

.lista{
        width: 500px;
        width: 700px;
    }
@media screen and (max-width:780px){
    
    section{
        width: 100%;
        
    }
    nav{
        width: none;
    }
    
}
@media screen and (max-width:380){
    
}

